/*styling the html and body*/
html, body {
    height: 100%; 
    margin: 0; 
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
}

/*styling the header*/
header {
    background-color: darkslategray;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

header > h1 {
    color: white;
}

/*styling info text*/
.info-text > h2 {
    text-align: center;
    color: white;
    margin-bottom: 2%;
    font-weight: bold;
}

/*styling the form*/
form {
    text-align: center;
    margin-top: 2%;
}

label {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

fieldset {
    border: none;
    margin-bottom: 1%;
}

input {
    border-radius: 8px;
    margin-top: 10px;
}

/*styling form button*/
button {
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: gray;
}

/*stylinng the display area*/
.display {
    margin-top: 4%;
    text-align: center;
}

.display > p {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}